# SPDX-FileCopyrightText: 2022 Alexander Kromm <mmaulwurff@gmail.com>
# SPDX-License-Identifier: CC0-1.0

# Ignore everything:
*

# Except directories
!**/

# and these files:
!.clang-format
!.gitattributes
!.gitignore
!dep5

# and these file types:
!*.md
!*.png
!*.txt
!*.zs

# But do ignore the following files:
changelog.txt
